!!! 5
%html
  %head
    %link(type="css/text" rel="stylesheet" href="css/main.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  %body
    %div.container
      %div#screen
      %div.buttons
        %input.operator(type="button" value="CE")
        %input.operator(type="button" value="C")
        %input.operator(type="button" value="DEL")
        %input.operator(type="button" value="/")
        %input.number(type="button" value="7")
        %input.number(type="button" value="8")
        %input.number(type="button" value="9")
        %input.operator(type="button" value="*")
        %input.number(type="button" value="4")
        %input.number(type="button" value="5")
        %input.number(type="button" value="6")
        %input.operator(type="button" value="-")
        %input.number(type="button" value="1")
        %input.number(type="button" value="2")
        %input.number(type="button" value="3")
        %input.operator(type="button" value="+")
        %input.operator(type="button" value="??")
        %input.number(type="button" value="0")
        %input.operator(type="button" value=".")
        %input.operator(type="button" value="=")
    %script(src="js/javascript.js")
